@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

/* main * {
  @apply border border-solid border-red-100
} */
.tech-skill {
  @apply border border-solid border-slate-500 bg-slate-500 my-1 mx-4 p-1 rounded-lg h-fit w-fit
}


@layer utilities { /* Project's Scrollbar */
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50vh;
    background: #334155;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 50vh;
    border: 3px solid #4b4b4b;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
}